<div class="cat-content" style="background-color: {{ collection.metafields.accentuate.collection_banner_color }}">
    <div class="container">
     <div class="cat-img lazyload"> 
       {% if collection.metafields.accentuate.collection_banner == blank %}
            <img src="//cdn.shopify.com/s/files/1/0258/2102/0194/files/inner_banner.png?v=1633077288">
            <div class="collection_title_top">
                {% if section.settings.show_heading_cls  %}
                <h2>
                  {% render 'multilang' with collection.title %}       
                </h2>
                {% endif %}
                {% if section.settings.show_subheading_cls  %}
                <h3>
                  {{ section.settings.subheading }}  
                </h3>
                {% endif %}
            </div>
        {% endif %}
        {% if collection.metafields.accentuate.collection_banner !='' %} 
           {% for collection_banner in collection.metafields.accentuate.collection_banner %}
            <img src="{{ collection_banner.src }}" alt="{{ collection_banner.alt }}"/>
            <div class="collection_title_top">
                {% if section.settings.show_heading_cls  %}
                <h2>
                  {% render 'multilang' with collection.title %}       
                </h2>
                {% endif %}
                {% if section.settings.show_subheading_cls  %}
                <h3>
                  {{ section.settings.subheading }}  
                </h3>
                {% endif %}
            </div>
          {% endfor %}
        {% endif %}
        
                
    {% if section.settings.dpl_img_cls %}
    {% if section.settings.display_image_cls == 'image_category' %}
    {% if section.settings.img_cat != blank %}
    
    <img src="{{ section.settings.img_cat | img_url :"master"}}" alt="{{ collection.title | split: '|' | first }}" 
         class="lazyload"
         data-src="{{ section.settings.img_cat | img_url :"master"  | canonical_url}}"
         data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
         data-aspectratio="{{ section.settings.img_cat | img_url :"master"}}"
         data-sizes="auto">
    {% endif %}
  
   
    {% endif %}
    {% endif %}
  </div>

  </div>
</div>
{% comment %}
<div class="page_title_outer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
            </div> 
        </div>
    </div>
</div>
{% endcomment %}

{% schema %}
  {
    "name": "Collection Header",
    "settings": [
      {
        "type" : "checkbox",
        "id" : "dpl_img_cls",
        "label" : "Display Image",
        "default" : true
      },
      {
        "type" : "radio",
        "id" : "display_image_cls",
        "label" : "Show Image",       
        "options": [
          {
            "value": "image_category",
            "label": "Show Image Category"
          },
          {
            "value": "show_collection_image",
            "label": "Show Collection Image"
          }
        ],
        "default": "image_category"
      },
      {
        "type": "image_picker",
        "id": "img_cat",
        "label": "Image Category"
      },
      {
            "type" : "text",
            "id" : "height_img",
            "label" : "Image height",
            "default" : "270px"
      },
      {
        "type": "checkbox",
        "id": "show_heading_cls",
        "label": "Show Collection Title",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_subheading_cls",
        "label": "Show Collection Subheading",
        "default": true
      },
      {
            "type" : "text",
            "id" : "subheading",
            "label" : "Heading" 
      }
      
    ]
  }
{% endschema %}

<style>
  .template-collection .cat-content .cat-img img{
    max-height: {{ section.settings.height_img }};
    object-fit: cover;
    width:100%;
  }
</style>