{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-baf3db26"></div>
 
<section class="home-button-wrapper" id="section-{{section.id}}">
  <div class="container"> 
    <div class="row-bt">
      <div class="col-12">
        <div class="" data-row="5" data-rowtb="4" data-rowtblg="3" data-rowbm="2">
          {% for block in section.blocks %}
          <div id="brand-{{ block.id }}" class="item">
            <a class="btn" href="{{ block.settings.link }}">
              {% if block.settings.image != blank %}       
                {{ block.settings.title }}
              {% endif %}
            </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>


<style>
  #section-{{section.id}}{
    margin-top: {{ section.settings.space_on }}px;
    margin-bottom: {{ section.settings.space_below }}px;
  }
  {% unless  template contains 'index' %}
  .slider-brand-wrapper .container{ 
    padding-top:35px;
    border-top:2px solid {{settings.color_border}};
    {% if  template contains 'page' %}
    margin-top: 30px;
    {% else %}
    margin-top: 40px;
    {% endif %}
  }
  .slider-brand-wrapper .widget-title{
    display:none;
  }
  .slider-brand-wrapper{
    margin-bottom: 23px!important;
  }
  {% endunless %}
</style>

{% schema %}
  {
    "name": "Home Buttons Block",
    "class": "index-section",
    "max_blocks": 10,
    "settings": [
    {
      "type": "range",
      "id": "space_on",
      "label": "Space on",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "space_below",
      "label": "Space below",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 25
    },
    {
        "type": "text",
        "id": "brands_title",
        "label": "Title",
        "default": "Top Brands"
    }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [ 
          {
            "type": "text",
            "id": "title",
            "label": "Your Brands",
            "default": "Loremous"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home Buttons Block",
        "category": "Images"
      }
    ]
  }
{% endschema %}
