{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-fdd3a80f"></div>
{% if section.settings.show_banner_top %}
<section class="home-top-banner" id="section-{{section.id}}">
  <div class="container">
    <div class="inner_wrapper">
    <div class="row-bt">
      {% for block in section.blocks %}
        <div class="banner-image column col column-{{block.id}} {%if section.settings.show_content_banner_top == false %}no-banner-content{% endif %}">
          <div class="col-12 custom-item">
            <a href="{{block.settings.ct_link}}" title="{{block.settings.ct_heading}}">
              {% if block.settings.ct_img != blank %}
              {%- assign img_url = block.settings.ct_img | img_url: '1024x' -%}
              <img src="https:{{ img_url}}" alt="{{block.settings.ct_heading}}"
                   class="lazyload"
                   data-src="https:{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ img_url.aspect_ratio }}"
                   data-sizes="auto">
              {% else %}
              <span class="not_img">370 x 435px</span>
              {% endif %}
            </a>
            {% if block.settings.show_banner_image_content != blank %}
              <div class="caption {% if block.settings.banner_image_content_position == 'top' %} position-top{% elsif block.settings.banner_image_content_position == 'bottom' %} position-bottom {% else %} position-middle{% endif %}">
                {% if block.settings.ct_sub_heading != blank %}
                <h5 class="sub-heading" style="font-size: {{ block.settings.font_size_sub_heading }};color: {{ block.settings.color_sub_heading }}; border-bottom: 1px solid {{ block.settings.color_border_sub_heading }};">
                  {% render 'multilang' with  block.settings.ct_sub_heading %}
                </h5>
                {% endif %}

                {% if block.settings.ct_heading != blank %}
                <h3 class="heading" style="font-size: {{ block.settings.font_size_heading }};color: {{ block.settings.color_heading }}">
                  {% render 'multilang' with  block.settings.ct_heading %}
                </h3>
                {% endif %}

                {% if block.settings.ct_desc != blank %}
                <p class="desc-text" style="font-size: {{ block.settings.font_size_desc }};color: {{ block.settings.color_desc }}">
                  {% render 'multilang' with  block.settings.ct_desc %}
                </p>
                 {% endif %}
              </div>
              {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    </div>
    {% if section.settings.show_content_banner_top %}
        <div class="banner-content">
            <p>{% render 'multilang' with  section.settings.content_banner_top %}</p>
        </div>
    {% endif %}
  </div>
</section>
{% endif %}

<style>
  #section-{{section.id}}{
    margin-top: {{ section.settings.space_move_up}}px;
    padding-top: {{ section.settings.space_on }}px;
    padding-bottom: {{ section.settings.space_below }}px;
  }
</style>


{% schema %}
  {
   "name": "Homepage Top Banner",
	 "max_blocks": 15,
    "settings": [
    {
      "type": "checkbox",
      "id": "show_banner_top",
      "label": "Display Banner Top?",
      "default": true
    },
		{
      "type": "range",
      "id": "space_on",
      "label": "Space on",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
        "type": "range",
        "id": "space_below",
        "label": "Space below",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 25
    },
    {
      "type" : "text",
      "id" : "space_move_up",
      "label" : "Space move up",
      "default" : "-245",
      "info" : "Default -245"
    },
    {
      "type": "header",
      "content": "Banner Content"
    },
    {
      "type": "checkbox",
      "id": "show_content_banner_top",
      "label": "Display Banner Content?",
      "default": true
    },
    {
      "type" : "textarea",
      "id" : "content_banner_top",
      "label" : "Banner Content",
      "default": "Cras nec congue elit duis tristique vel ante nec aliquam. Praesent urna tellus laoreet eu tellus ullamcorper, fermentum facilisis erat. Suspendisse tellus erat, saliquam vel loremous a posuere tincidunt melit. Aliquam eget lacus nec metus lobortis gravida sedos."
    }
	],
    "blocks": [
      {
        "type": "banner",
        "name": "Banner Top",
        "settings": [
          {
            "type" : "image_picker",
            "id" : "ct_img",
            "label" : "Select image",
            "info" : "Recommended Image: Width x Height (370 x 435)PX"
          },
          {
            "type": "url",
            "id" : "ct_link",
            "label" : "Image link"
          },
          {
            "type": "checkbox",
            "id": "show_banner_image_content",
            "label": "Show Banner Image Content?",
            "default": true
          },
          {
            "type": "select",
            "id": "banner_image_content_position",
            "label": "Banner Image Content position",
            "default": "bottom",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
                {
                "value": "middle",
                "label": "Middle"
                },
                {
                "value": "bottom",
                "label": "Bottom"
                }
            ]
          },
          {
            "type" : "text",
            "id" : "ct_sub_heading",
            "label" : "Sub Heading",
            "default" : "Accessories"
          },
          {
            "type" : "text",
            "id": "font_size_sub_heading",
            "label" : "Font size sub heading",
            "default" : "12px"
          }, 
          {
            "type" : "color",
            "id": "color_sub_heading",
            "label": "Sub Heading Color",
            "default" : "#fff"
          },
          {
            "type" : "color",
            "id": "color_border_sub_heading",
            "label": "Sub Heading Border Bottom Color",
            "default" : "#fff"
          },
          {
            "type" : "text",
            "id" : "ct_heading",
            "label" : "Heading",
            "default" : "Curabitur"
          },
          {
            "type" : "text",
            "id": "font_size_heading",
            "label" : "Font size heading",
            "default" : "20px"
          },
          {
            "type" : "color",
            "id": "color_heading",
            "label": "Heading color",
            "default" : "#fff"
          },
          {
            "type" : "text",
            "id" : "ct_desc",
            "label" : "Description text",
            "default" : " Maecenas quam odio pellentesque eget laoreet sitae ornare et nedue class aptentos."
          },
          {
            "type" : "text",
            "id": "font_size_desc",
            "label" : "Font size Description",
            "default" : "12px"
          },
          {
            "type" : "color",
            "id": "color_desc",
            "label": "Description color",
            "default" : "#fff"
          }
		    ]
	  } 
	],
	"presets": [{
      "name": "Homepage Top Banner",
      "category": "block images",
      "blocks": [
        {
          "type": "banner"
        }
      ]
    }]
  }
{% endschema %}
